<div class="bg">
    <div class="parent">
      <div class="child">
        <div nz-col>
          <h1 style="margin-left: 55px">Client Signup</h1>
        </div>
        <!-- Fixed form tag syntax - added space between nz-form and [formGroup] -->
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="The input is not a valid email">
              <input nz-input placeholder="E-mail" formControlName="email" id="email"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- Fixed formControlName - removed space in "check password" -->
            <nz-form-control nzHasFeedback nzErrorTip="The input is not a valid password">
              <input nz-input type="password" placeholder="Password" formControlName="password" id="password"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="The input is not a valid confirm password">
              <input nz-input type="password" placeholder="Confirm password" formControlName="checkPassword" id="checkPassword"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="The input is not a valid name">
              <!-- Fixed id attribute - each ID should be unique -->
              <input nz-input placeholder="Name" formControlName="name" id="name"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="The input is not a valid lastname">
              <!-- Fixed id attribute - each ID should be unique -->
              <input nz-input placeholder="Lastname" formControlName="lastname" id="lastname"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzHasFeedback nzErrorTip="The input is not a valid phone">
              <!-- Fixed id attribute - each ID should be unique -->
              <input nz-input placeholder="Phone" formControlName="phone" id="phone"/>
            </nz-form-control>
          </nz-form-item>
          <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">
            Register
          </button>
          or <a routerLink="/login">Login now!</a>
        </form>
      </div>
    </div>
  </div>